out
*cache
*.sqlite
*.db
*backup*
*version*
*data*
/logs/
/bundler/
libs/
lib/
/world*/
/usercache.json
/banned-ips.json
/banned-players.json
/plugins/dynmap/templates
!/plugins/dynmap/templates/*hd*
/plugins/dynmap/colorschemes
/plugins/dynmap/lightings.txt
/plugins/dynmap/perspectives.txt
/plugins/dynmap/shaders.txt
/plugins/dynmap/markers.yml
/plugins/dynmap/web
/plugins/dynmap/ids-by-ip.txt
/plugins/dynmap/*.pending
/plugins/WorldGuard/worlds/
/plugins/WorldEdit/assets/
/plugins/WorldEdit/sessions/
/plugins/WorldEdit/.archive-unpack/
/plugins/Towny/logs/
/plugins/Towny/settings/lang/reference
/plugins/Towny/debtAccountsConverted.txt
/plugins/Quests/import/
/plugins/Quests/modules/
/plugins/ProtocolLib/lastupdate
/plugins/Multiverse-Portals/portals.yml
/plugins/MobArena/config.yml
/plugins/mcMMO/flatfile/
/plugins/mcMMO/upgrades_overhaul.yml
/plugins/LuckPerms/
/plugins/Essentials/warps/
/plugins/Essentials/usermap.csv
/plugins/Essentials/items.json
/plugins/Essentials/upgrades-done.yml
/plugins/CraftBook/uuid-mappings.db
/plugins/CraftBook/variables.yml
/plugins/CoreProtect/.license
/plugins/Citizens/saves.yml
/plugins/Citizens/shops.yml
/plugins/AsyncWorldEdit/plugins
/plugins/AsyncWorldEdit/undo
/plugins/AsyncWorldEdit/installed
/plugins/AsyncWorldEdit/license.txt
/plugins/AntiAura/AttackPattern*
/plugins/AntiAura/*Data*
/plugins/AntiAuraML-linux64.jar
/plugins/CraftBook/persistence.yml
/plugins/Magic/defaults
